<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>

<%= link_to "Editer un restaurant", edit_restaurant_path(@restaurant) %>
|
<%= link_to 'Supprimer', restaurant_path(@restaurant),
            method: :delete, data: { confirm: 'Are you sure?' } %>